.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
tests/
botpy.log
.worktrees/
data/sqlite/*.db
data/sqlite/*.db-journal
data/sqlite/*.db-wal
data/sqlite/*.db-shm
