{
  "providers": {
    "anthropic": {
      "apiKey": "sk-ant-..."
    },
    "openai": {
      "apiKey": "sk-..."
    },
    "openrouter": {
      "apiKey": "sk-or-..."
    },
    "deepseek": {
      "apiKey": "sk-..."
    },
    "groq": {
      "apiKey": "gsk_..."
    },
    "zhipu": {
      "apiKey": "..."
    },
    "dashscope": {
      "apiKey": "sk-..."
    },
    "venice": {
      "apiKey": "..."
    },
    "nvidia": {
      "apiKey": "nvapi-..."
    },
    "vllm": {
      "apiKey": "lm-studio"
    },
    "gemini": {
      "apiKey": "..."
    },
    "moonshot": {
      "apiKey": "sk-..."
    },
    "minimax": {
      "apiKey": "..."
    },
    "aihubmix": {
      "apiKey": "..."
    }
  },
  "channels": {
    "telegram": {
      "token": "1234567890:ABC..."
    },
    "discord": {
      "token": "..."
    },
    "feishu": {
      "appSecret": "...",
      "encryptKey": "...",
      "verificationToken": "..."
    },
    "mochat": {
      "clawToken": "..."
    },
    "dingtalk": {
      "clientSecret": "..."
    },
    "email": {
      "imapPassword": "...",
      "smtpPassword": "..."
    },
    "slack": {
      "botToken": "xoxb-...",
      "appToken": "xapp-..."
    },
    "qq": {
      "secret": "..."
    }
  },
  "tools": {
    "web": {
      "search": {
        "apiKey": "..."
      }
    }
  },
  "copilot": {
    "monitorChatId": "",
    "approvalChatId": ""
  }
}
